# 0x42c-kernel Halibut Build File
# Use of this is optional, you may alternatively run scripts manually
# Created on Tuesday, November 06, 2012

name=0x42c-kernel
build=build.bat
working-directory=build/
error-regex=Error (?<file>[A-Za-z0-9_ ./\-]+) \(line (?<line>[0-9]+)\): (?<error>.*)
debug-exe=Lettuce.exe bin/kernel.bin --server --nogui --port 46852
debug=46852